#wrap {
    max-width: 770px;
    margin: 0 auto;
    padding: 50px 20px;
}
.edit {
    color: #f00 !important;
}
.point {
    color: #2d4fc9;
}
.point2 {
    color: #e80000;
}
.point3 {
    font-weight: bold;
    color: #9d93da;
}
.point4 {
    font-weight: bold;
    color: #f35fbd;
}
.point5 {
    color: #ccc !important;
}
.code, .code2 {
    margin: 0 2px;
    padding: 3px 5px 2px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    background: #f3f5f6;
    font-family: 'Hack', consolas, 'Nanum Gothic','나눔고딕','애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',dotum,AppleGothic, sans-serif !important;
    font-size: 12px;
    color: #4d5256;
}
.code2 {
    border-color: #3f86a5;
    background: #bcdbe8;
}
.comment {
    font-style: italic;
    color: #aaa;
}
.title {
    display: block;
    margin: 20px 0 10px;
    font-size: 15px;
    &:first-child {
        margin-top: 0;
    }
}
.title2 {
    display: block;
    margin: 20px 0 5px;
    font-size: 13px;
    line-height: 1.3em;
    &:first-child {
        margin-top: 0;
    }
}
.text {
    margin-top: 10px;
    color: #4d5256;
    font-size: 14px;
    line-height: 26px;
}
.btn {
    &__area {
        margin-top: 15px;
        .btn_view {
            margin: 0;
        }
    }
    &_view {
        display: inline-block;
        margin: 5px 0;
        padding: 5px 12px;
        border-radius: 5px;
        background: #e5ebf0;
        font-size: 13px;
        font-weight: bold;
        color: #808b96 !important;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        transition: all .2s ease-in;
        &:hover {
            background: #3884fe;
            color: #fff;
            &:after {
                border-color: #fff;
            }
        }
        &:after {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 2px 0 4px;
            border: solid #808b96;
            border-width: 2px 2px 0 0;
            transform: rotate(45deg);
            content: '';
        }
    }
}
.main {
    &__title {
        margin-bottom: 25px;
        padding: 0;
        font-size: 34px;
        color: #333;
        line-height: 1.3em;
    }
    &__text {
        margin: 15px 0;
        padding: 0;
        font-size: 15px;
        color: #4d5256;
        line-height: 30px;
    }
}
.sub {
    &__title {
        margin: 70px 0 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        font-size: 27px;
        color: #333;
        &:first-child {
            margin-top: 0;
        }
        & + .article_wrap {
            .article {
                &__title {
                    &:first-child {
                        margin-top: 45px;
                    }
                }
            }
        }
    }
    &__text {
        margin: 15px 0;
        padding: 0;
        font-size: 14px;
        color: #4d5256;
        line-height: 26px;
    }
}
.section {
    &__wrap {
        margin-top: 70px;
        &:first-child {
            margin-top: 0
        }
    }
}
.article {
    &__wrap {
        margin-top: 60px;
        &:first-child {
            margin-top: 0
        }
    }
    &__title {
        margin: 60px 0 20px;
        font-size: 18px;
        color: #000;
        &:first-child {
            margin-top: 0
        }
    }
    &__text {
        margin: 15px 0;
        padding: 0; 
        font-size: 14px;
        color: #4d5256;
        line-height: 25px;
    }
}
.list {
    margin-top: 20px;
    padding-left: 20px;
    &__title {
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        & + .list {
            margin-top: 10px;
        }
    }
    &__text {
        //
    }
    list-style-type: disc;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    li {
        margin-top: 30px;
        font-size: 14px;
        color: #4d5256;
        line-height: 26px;
        &:first-child {
            margin-top: 0;
        }
    }
    &.number_type {
        list-style-type: decimal;
    }
    &.text_type {
        li {
            margin-top: 5px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__title {
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        & + .list {
            margin-top: 10px;
        }
    }
    .list {
        list-style-type: circle;
    }
    .table_wrap {
        margin: 20px auto;
    }
    .notice {
        margin: 30px 0 25px;
    }
}
.box {
    margin: 20px 0 30px 20px;
    &__title {
        display: block;
        position: relative;
        min-height: 17px;
        margin: 50px 0 5px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 3px;
            height: 16px;
            margin-top: -8px;
            background: #ccc;
            content: '';
        }
        &:first-child {
            margin-top: 20px;
        }
    }
    &__text {
        margin-top: 15px;
        padding: 0; 
        font-size: 14px;
        color: #4d5256;
        line-height: 25px;
        &:first-child {
            margin-top: 0;
        }
    }
}
.example__wrap {
    margin-top: 40px;
    // padding: 25px;
    // background: #f5f6f7;
    box-sizing: border-box;
    // .btn_view {
    //     background: #dce2e7;
    //     &:hover {
    //         background: #3884fe;
    //     }
    // }
}
.example_area {
    position: relative;
    margin-top: 15px;
    padding: 12px 15px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    background: #f5f6f7;
    font-size: 12px;
    color: #4d5256;
    line-height: 22px;
    code {
        font-family: 'Hack', consolas, 'Nanum Gothic','나눔고딕','애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',dotum,AppleGothic, sans-serif; 
    }
    .title {
        display: block;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    .text {
        margin-top: 10px;
        font-size: 13px;
        line-height: 24px;
        &:first-child{
            margin-top: 0;
        }
    }
}
.notice {
    margin-top: 40px;
    padding: 23px 25px;
    border-left: 3px solid #52E052;
    background: #e9fbe9;
    color: #444;
    &__title {
        display: block;
        font-size: 15px;
        font-weight: normal;
        color: #178217;
    }
    &__text {
        margin-top: 8px;
        font-size: 14px;
        line-height: 25px;
        &:first-child {
            margin-top: 0;
        }
    }
    .list {
        &__title {
            font-size: 14px;
            color: #555;
        }
    }
    .box {
        margin: 20px 10px;
        &:last-child {
            margin-bottom: 0;
        }
        &__title {
            margin-top: 30px;
            &:before {
                background: #aaa;
            }
        }
    }
    .table_wrap {
        margin: 20px auto;
        &:last-child {
            margin-bottom: 0;
        }
        &.table_type2 {
            border-color: #aaa;
        }
    }
    &.type2 {
        border-color: #3f87a6;
        background: #e4f0f5;
        .btn_view {
            background: #dce2e7;
            &:hover {
                background: #3884fe;
            }
        }
        .notice {
            &__title {
                position: relative;
                padding: 1px 0 0 22px;
                font-weight: bold;
                color: #666;
                line-height: 18px;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    background: url(../img/ico_notice.png);
                    background-size: 100% 100%;
                    content: '';
                }
            }
        }
    }
}
.quote {
    margin-top: 30px;
    padding-left: 25px;
    border-left: 3px solid #e1e4e6;
    color: #666;
    &.type2 {
        padding: 20px 25px;
        border-left: 5px solid #3f87a6;
        background: #e4f0f5;
    }
    &__title {
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
    }
    &__text {
        margin-top: 10px;
        color: #777;
        font-size: 14px;
        line-height: 26px;
    }
    &__image {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 3px;
        background: #f8f8f8;
        img {
            width: 100%;
            max-width: 550px;
        }
    }
    .list {
        li {
            font-size: 14px;
            color: #666;
        }
    }
    .img__wrap {
        margin: 20px 0;
    }
}
.definition {
    color: #4d5256;
    dt {
        margin-top: 20px;
        font-size: 17px;
        font-weight: bold;
        color: #4d5256;
        &:first-child {
            margin-top: 0;
        }
    }
    dd {
        padding-left: 24px;
        font-size: 15px;
        line-height: 26px;
    }
}
.img {
    display: block;
    overflow: hidden;
    margin: 15px auto;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    img {
        width: 100%;
        & + .img_text {
            margin-top: 15px;
        }
    }
    &__wrap {
        display: table;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        table-layout: fixed;
        &.type2 {
            display: block;
            .img__area {
                display: block;
                margin-top: 70px;
                padding: 0;
                &:first-child {
                    margin-top: 0
                }
            }
        }
    }
    &__area {
        display: table-cell;
        padding: 0 10px;
        .img {
            margin: 0 auto;
            border-color: #ccc;
        }
    }    
    &__title {
        display: block;
        margin-bottom: 15px;
        font-size: 15px;
    }
    &__text {
        display: block;
        width: 80%;
        margin: 20px auto 0;
        font-size: 13px;
        color: #444;
        line-height: 21px;
        word-break: keep-all;
    }
    &__comment {
        display: block;
        margin-top: 12px;
        font-size: 11px;
        color: #999;
        text-align: center;
    }
}
.table_wrap {
    margin: 40px 20px;
    table {
        width: 100%;
        table-layout: fixed;
        word-break: break-all;
    }
    caption span {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        text-align: left;
        &:before {
            display: inline-block;
            margin-right: 5px;
            content: '*';
        }
    }
    thead {
        th {
            border-bottom: 1px solid #333;
            font-size: 14px;
            text-align: center;
            .th {
                padding: 8px 12px;
                line-height: normal;
            }
        }
    }
    tbody {
        tr:first-child {
            td {
                border-top: 0;
            }
        }
        td {
            border: solid #aaa;
            border-width: 1px 0 0 1px;
            font-size: 13px;
            text-align: center;
            &:first-child {
                border-left: 0;
            }
            .td {
                padding: 8px 12px;
                line-height: normal;
            }
        }
    }
    &.table_type2 {
        border: 1px solid #aaa;
        caption span {
            position: absolute;
            width: 1px;
            height: 1px;
            font-size: 0;
            line-height: 999px;
        }
        thead {
            th {
                border: solid #aaa;
                border-width: 0 0 1px 1px;
                &:first-child {
                    border-left: 0;
                }
            }
        }
    }
}

.text + .img__wrap {
    margin: 20px 0;
}
.img__wrap + .btn__area {
    margin-top: 25px;
}
.box__text + .list {
    margin-top: 30px;
}
.notice__title + .list.text_type {
    margin-top: 10px;
}
.sub__title + .article__wrap {
    margin-top: 40px;
}
.title2 + .example_area {
    margin-top: 8px;
}
.title2 + .list {
    margin-top: 8px;
}