.page-template {
	width: 500px;
	margin: 5rem auto 0;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	padding-top: 2rem;

	@media (max-width: 768px) {
		margin-top: 1rem;
		width: calc(100% - 2rem);
	}

	.title {
		margin: 0;
		font-size: 4rem;
		font-weight: normal;
		text-align: center;
	}
	.content {
		margin-top: 2rem;
	}
}