@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
    @include css3-prefix('transform', rotate($deg + deg));
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
    zoom: 1;
}

@mixin flip($scaleX: -1) {
    @include css3-prefix('transform', scaleX($scaleX));
    filter: FlipH;
    -ms-filter: "FlipH";
}

@mixin transform($x: null, $y: null){
    -webkit-transform:translate($x, $y);
    -ms-transform:translate($x, $y);
    transform:translate($x, $y);
}

@mixin transform-origin($params) {
    @include css3-prefix('transform-origin', $params);
}

@mixin transform-style($style: preserve-3d) {
    @include css3-prefix('transform-style', $style);
}

@mixin transition($properties...) {
    @if length($properties)>=1 {
        @include css3-prefix('transition', $properties);
    }
    @else {
        @include css3-prefix('transition', "all 0.2s ease-in-out 0s");
    }
}