@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

/* IE8 대응 */
.inner{position:relative;width:1320px;height:100%;margin:0 auto;padding: 0 20px;box-sizing: border-box}
.page_type2 .header{position:absolute;top:0;left:0;right:0;z-index:1000;border-bottom:1px solid #e5e5e5;background-color:#393e60}
.page_type2 .header .inner{width:auto}
.page_type2 .header .logo .btn_link{color:#fff}
.page_type2 .gnb_cate{right:0}
.page_type2 .gnb_cate li a, .page_type2 .gnb_cate li.on a{color:#fff}
.page_type2 .gnb_cate li.on a:before{background-color:#fff}
.page_type2 .gnb_cate li:hover a, .page_type2 .gnb_cate li.on a{color:#fff}
.page_type2 .gnb_txt{position:absolute;top:0;right:0;font-family:ns;font-size:18px;color:#fff;line-height:80px;letter-spacing:-.5px}


/* UIO Common ----------------------------------------------- */
/* Map */
.group_map .map_info{border:1px solid #e5e5e5}
/* Map > Navigation */
.map_navi{border:1px solid #e5e5e5}


/* Slider */
.slick-slider .slick-dots li button{background-color:#b2b2b2}



/* Layout ----------------------------------------------- */
/* Header */
.header{border-bottom:1px solid #e5e5e5}
.header.main_type{background-color:transparent;border-bottom:1px solid #e5e5e5}
.header.main_type.top_fixed{border-bottom:1px solid #e5e5e5}

/* Footer */
.lst_wing_btn .btn_top{border:1px solid #e1e1e1}