<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <main>
		<h1><a href="/guide">Guide</a></h1>
		<ul>
		<% for(var i=0 ; i<obj.length ; i++) { %>
        <li>
            <a href='/guide/<%= obj[i] %>'>
                <%= obj[i] %>
            </a>
        </li>
    	<% } %>
		</ul>

		<article>
			<h2><%= title %></h2>
			<p><%- description %></p>
			<ul>
			<% for(var i=0 ; i<obj.length ; i++) {
				var nfilesList = projectObj.nfiles[i].htmlcode; %>
				<li>
			      <%= obj[i] %>
			      <%- nfilesList %>
			  </li>
			<% } %>
			</ul>	
		</article>

		<div>
			<a href="/guide/new">new file</a>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </main>
</body>
</html>