<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <main>
		<h1><a href="/topic">Server Side JavaScript</a></h1>
		<ul>
		<% for(var i=0 ; i<topics.length ; i++) { %>
        <li>
            <a href='/topic/<%= topics[i] %>'>
                <%= topics[i] %>
            </a>
        </li>
    	<% } %>
		</ul>

		<article>
			<h2><%= title %></h2>
			<div>
				<%- desciption %>
			</div>

			<ul class="test">
			<% for(var i=0 ; i<topics.length ; i++) { %>
	        <li>
					<% console.log() %>
	        </li>
	    	<% } %>
			</ul>

		</article>

		<div>
			<a href="/topic/new">new file</a>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			$(function () {
				// console.log($('body').find('li'))
			});
		</script>
  </main>
</body>
</html>