<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <main>		
		<article>
			<form action="/guide" method="post">
			<fieldset>
				<legend><span></span></legend>
				<div>
					<label for="depth1_title">1Depth Title</label>
					<select id="depth1_title" name="menuListDepth1">
					<option value="menu01">타이틀</option>
					<option value="menu02">타이틀 + 텍스트</option>
					<option value="menu03">텍스트</option>
					</select>
				</div>
				<div>
					<input type="text" name="title" placeholder="title">
				</div>
				<div>
					<textarea name="description"></textarea>
				</div>
				
				<div>
					<input type="submit">
				</div>
			</fieldset>
			</form>			
		</article>
  </main>
</body>
</html>