/* reset */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{width:100%}
body,input,select,textarea,button,th,td{font-family:'Nanum Gothic','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',dotum,tahoma,sans-serif;font-size:12px;color:#000}
fieldset,img{border:0 none}
ul,ol,dl,li{list-style:none}
input,select,textarea,button{vertical-align:top}
button,input[type=button]{overflow:visible;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
input,button{-webkit-appearance:none;border:0 none;border-radius:0}
address,caption,em{font-style:normal}
a{color:#000}
a,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}

/* common */
.blind,legend,caption span{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:999px;white-space:nowrap}
.sp{display:inline-block;overflow:hidden;width:10px;height:10px;background:url(../img/sp.png) no-repeat;line-height:999px;vertical-align:top}
.elp{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

/* map */
#map{width:100%;height:500px}
.map_wrap{position:relative}
.option_wrap{max-width:600px;margin:0 auto;padding:20px}
.notice_text{margin-bottom:15px;font-size:12px}
.table_wrap{border:1px solid #c5c5c5;box-sizing:border-box}
.table_wrap table{width:100%;table-layout:fixed}
.table_wrap th{background:#e7e7e7}
.table_wrap th,.table_wrap td{border:solid #c5c5c5;border-width:1px 0 0 1px}
.table_wrap th:first-child,.table_wrap td:first-child{border-left:0}
.table_wrap tr:first-child th,.table_wrap tr:first-child td{border-top:0}
.table_wrap .th{padding:9px 10px}
.table_wrap .td{padding:9px 10px}
.input_text{display:block;border:1px solid #9c9c9c;box-sizing:border-box}
.input_text input{width:100%;padding:8px;background:transparent;box-sizing:border-box}
.input_textarea{display:block;height:60px;border:1px solid #9c9c9c;box-sizing:border-box}
.input_textarea textarea{width:100%;height:100%;padding:8px;border:0;background:transparent;box-sizing:border-box;resize:none}
.btn_wrap{margin-top:20px;text-align:center}
.btn_save{width:85px;height:35px;padding:4px 10px 6px;border:1px solid #b4b4b4;border-radius:7px;box-sizing:border-box}
.btn_save:hover{background:#444;color:#fff}
.btn_delete{position:absolute;top:50%;right:5px;width:40px;height:26px;padding:4px;border:1px solid #b4b4b4;border-radius:5px;transform:translate(0, -50%);box-sizing:border-box}
.btn_delete span{font-size:11px}
.history_wrap{margin-top:30px}
.history_wrap li{position:relative;margin-top:-1px;padding:12px 55px 12px 10px;border:1px solid #c5c5c5;font-size:12px}
.history_wrap li:first-child{margin-top:0}
.history_wrap .option{display:table;width:100%;table-layout:fixed}
.history_wrap .title{width:140px}
.history_wrap .box{display:table-cell;padding-left:10px}
.history_wrap .box:first-child{padding-left:0}

.overlay_wrap{position:absolute;left:0;bottom:38px;width:230px;padding-bottom:7px;transform:translate(-50%, 0)}
.overlay_wrap:after{bottom:2px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:6px solid #fff}
.overlay_wrap:before{bottom:1px;border-left:7px solid transparent;border-right:7px solid transparent;border-top:8px solid #c5c5c5}
.overlay_wrap:after,.overlay_wrap:before{position:absolute;left:50%;transform:translate(-50%, 0);content:''}

.overlay_inner{overflow:hidden;position:relative;height:110px;border:1px solid #c5c5c5;border-radius:7px;background:#fff;box-shadow:2px 2px 3px 0px rgba(0,0,0,0.3);box-sizing:border-box}
.overlay_title_wrap{height:32px;padding:9px 30px 8px 10px;background:#333;box-sizing:border-box}
.overlay_title_wrap .overlay_title{font-size:12px;color:#fff}
.overlay_content_wrap{padding:12px 10px}
.overlay_content .desc{display:-webkit-box;overflow:hidden;font-size:11px;word-break:break-all;white-space:normal;text-overflow:ellipsis;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:4}


.overlay_wrap .btn_close{position:absolute;top:0;right:0;width:30px;height:32px}
.overlay_wrap .btn_close:before,.overlay_wrap .btn_close:after{position:absolute;top:9px;right:0;width:2px;height:15px;margin-right:15px;background:#fff;content:''}
.overlay_wrap .btn_close:before{transform:rotate(45deg)}
.overlay_wrap .btn_close:after{transform:rotate(-45deg)}